/* zone of root */
:root {
    --primary-color: #28CB8B;
    --secundary-color: #263238;
    --info: #2194f3;
    --secundary-back: white;
    --primar-back:#F5F7FA;
    --text-color:black;
    --text-secundary:white;
    --text-size:25px;
    --tittle-size:60px;
    --footer-color:#263238;
}
/* global aspect */
* {
    margin: 0;
    padding: 0;
}
a:hover {
    border-bottom: 1px solid black;
    color: var(--primary-color);
}
.regist:hover, .button-nav:hover{
    background-color: #08ad53;
}
p {
    font-size:var(--text-size) ;
}
body {
    background-color: var(--primar-back);
}
/* zone of nav-var */
header {
     background-color: var(--primary-back);
     margin: 0;
     padding: 0;
}

.nav-var {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.links {
    display: flex;
    gap: 30px;
    font-size: 20px;
    height: 24px;
}
.link {
    text-decoration: none;
    color: var(--text-color);
}
.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size:20px;
}
.button-nav {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    width:80px ;
    height: 40px;
    color: var(--text-secundary);
    font-size: 15px;
}
/* First section */
.image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 6%;
    padding: 4%;
    background-color: var(--primary-back);
}
.primary-img img {
    height: 100%;
    width: 50%;
}
h1, .tittle h2 {
    font-size: 80px;
    
}
.tittle h2 {
    color: var(--primary-color);
}
.text {
    font-size: 20px;
}

.regist {
    margin-top: 5%;
    height:60px ;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-secundary);
}
/* zone of clients */
.clients {
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--secundary-back);
}
.clients h2 {
    font-size: 50px;  
}
.logos {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.logos img {
    height:70px ;
    width: 80px;
}
.title-m {
    margin-top: 100px;
    margin-left: 31%;

    width: 37%;
}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 200px;
    width: 80%;
    margin-top: 90px;
    margin-left: 10%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.container article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container article img {
    height:150px ;
    width: 200px;
    margin: 0 auto;
}
/* zone of use */
.usen  {
    background-color: var(--secundary-back);
    display: flex;
    padding: 10%;
}
.usen h2 {
    font-size: var(--tittle-size);
}
.text-info h2 {
    font-size: var(--tittle-size);
}
.green {
    color: var(--primary-color);
}
.info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10%;
}
.member {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.member article{
    display: flex;
    gap: 20px;
}
.member article img {
    width: 60px;
    height: 60px;
}
.customers {
    display: flex;
    gap: 30px;
    padding: 10%;
}
.info-c {
    display: flex;
    flex-direction:column ;
    gap: 10px;
}
.title-c {
    font-size: 30px;
    color: var(--primary-color);
}
.link-c {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    margin: auto;
  
}
.c {
    gap: 50px;
}
/* zone of caring marketing */
.caring {
    text-align: center;
    padding: 10%;
    background-color: var(--secundary-back);
}
.title-caring {
    font-size: var(--tittle-size);
}
.container-caring {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10%;
    gap: 40px;
}
.info-caring {
    background-color:#F5F7FA;
    height: 150px;
    width: 70%;
    margin: 0 auto;
    margin-top: -30px;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4%;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.356);
}
.info-caring a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
}
/* zone of demo */
.demo {
    width: 60%;
    margin: 0 auto;
    font-size: var(--tittle-size);
    text-align: center;
} 
/* zone of footer */
footer {
    background-color: var(--footer-color);
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5%;
    color: white;
}
.content-footer {
    display: flex;
    gap: 60px;
}
.content-footer h2 {
    font-size: 30px;
}
.logo-fot {
    display: flex;
    color: white;
    font-size: 20px;
    gap: 20px;

}
.Copyright {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Company {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list-company {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.list-company li {
    list-style: none;
}
.email {
    background-color: #4D4D4D;
    color: white;
    height:50px ;
    width:250px  ;
    border-radius: 10px;
    margin-top: 20px;
}
/* responsive */
@media (max-width: 600px) {
    .nav-var {
        width: auto;
    }
    .links {
        display: none;
    }
    .logo img {
        width: 90%;
    }
    .image, .usen, .info, .customers,  .container-caring {
        grid-template-columns: repeat(1,1fr);
        display: grid;
        padding: 0;
        margin-top: 100px;
    }
    .primary-img {
        grid-row:1/1;
    }
    .image h1, .image h2 {
        font-size: 60px;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .logos img {
        width: 100%;
    }
    .title-m {
        margin: 0;
        width: 100%;
    }
    .container, footer {
        grid-template-columns: repeat(1,1fr);
    }
    .demo {
        font-size: 30px;
    }

    .logo-fot img {
        width: 10%;
    }
    .content-footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px   ;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .nav-var {
        width: auto;
    }
    .links {
        display: none;
    }
    .logo img {
        width: 90%;
    }
    .image, .usen, .info, .customers,  .container-caring {
        grid-template-columns: repeat(1,1fr);
        display: grid;
        padding: 10%;
        margin-top: 100px;
        
    }
    .primary-img {
        grid-row:1/1;
    }
    .image h1, .image h2 {
        font-size: 60px;
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        padding: 5%;
    }
    .logos img {
        width: 50%;
    }
    .title-m {
        margin: 0;
        width: 100%;
    }
    .container, footer {
        grid-template-columns: repeat(1,1fr);
    }
    .demo {
        font-size: 30px;
    }

    .logo-fot img {
        width: 10%;
    }
    .content-footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px   ;
    }
    .img-res {
        margin-left: 15%;
    }
}
